<!doctype html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo: angular-dynamic-html</title>

    <script src="../../bower_components/highlightjs/highlight.pack.js"></script>

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../../bower_components/angular-highlightjs/angular-highlightjs.js"></script>

    <script src="../../dist/angular-dynamic-html.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../../bower_components/highlightjs/styles/obsidian.css">

    <link rel="stylesheet" href="../demo.min.css">
  </head>
  <body>
    <div class="container" ng-controller="demoCtrl">
      <div class="row header-row">
        <h1>Demo: angular-dynamic-html</h1>
      </div>

      <hr>

      <div class="row">
        <h2>What's it for?</h2>

        <p><code>angular-dynamic-html</code> is a directive inspired by <code>ng-bind-html</code> that accepts uncompiled angular code in addition to raw html.

        <p>You can also manually trigger a re-<code>$compile</code> of its contents with an <code>"updateDynamicHtml"</code> event.</p>
      </div>

      <hr>

      <div class="row">
        <h2>Basic usage:</h2>

        <p>HTML:</p>
        <div class="code-example" hljs hljs-source="htmlExample" hljs-language="html"></div>

        <p>In the controller:</p>
        <div class="code-example" hljs hljs-source="controllerExample" hljs-language="javascript"></div>
      </div>

      <div class="row">
        <h2>Result:</h2>
        <div class="code-demo" dynamic-html="{{dynamicHtml}}"></div>
      </div>

      <hr>

      <div class="row">
        <h2>Modifying the contents:</h2>

        <p>Once compiled, directives inside a <code>dynamic-html</code> will perform as expected:</p>

        <div class="code-demo" dynamic-html="{{updatableDynamicHtml}}"></div>

        <div class="button-row">
          <a class="button code-button" ng-click="updatableHtml = '<p>foo</p>'" hljs hljs-language="javascript">$scope.ngHtml = "<p>foo</p>"</a>
          <a class="button code-button" ng-click="updatableHtml = '<p>bar</p>'" hljs hljs-language="javascript">$scope.ngHtml = "<p>bar</p>"</a>
        </div>
      </div>

      <hr>

      <div class="row">
        <h2>Forcing a recompile:</h2>

        <p><code>$broadcast</code> or <code>$emit</code> an <code>"updateDynamicHtml"</code> event and <code>dynamic-html</code> will recompile its contents.</p>

        <p>HTML:</p>
        <div class="code-example" hljs hljs-source="needsBroadcastHtmlExample" hljs-language="html"></div>

        <p>In the controller:</p>
        <div class="code-example" hljs hljs-source="needsBroadcastControllerExample" hljs-language="javascript"></div>
        <p class="note">Note (ng-repeat only): When using this directive, wrap ng-repeats to avoid a bug where Angular fails to clean up the references properly after the update event.</p>
      </div>

      <div class="row">
        <h2>Live Demo:</h2>
        <div class="code-demo">
          <code>displayedCollection: "{{displayedCollection}}"</code><br/>
          <code>order: "{{order}}"</code>
        </div>
        <div class="code-demo" dynamic-html="{{generateDynamicHtml(displayedCollection)}}"></div>

        <p>Doesn't require a <code>$broadcast</code>:</p>

        <div class="button-row">
          <a class="button code-button" ng-click="order = 'id'" hljs hljs-language="javascript">$scope.order = "id";</a>
          <a class="button code-button" ng-click="order = 'text'" hljs hljs-language="javascript">$scope.order = "text";</a>
        </div>

        <p>Requires a <code>$broadcast</code>:</p>

        <div class="button-row">
          <a class="button code-button" ng-click="displayedCollection = 'eatSleepCodeRepeat'" hljs hljs-language="javascript">$scope.displayedCollection = "eatSleepCodeRepeat";</a>
          <a class="button code-button" ng-click="displayedCollection = 'eatSleepHackRepeat'" hljs hljs-language="javascript">$scope.displayedCollection = "eatSleepHackRepeat";</a>
        </div>

        <div class="button-row">
          <a class="button code-button" ng-click="$broadcast('updateDynamicHtml')" hljs hljs-language="javascript">$broadcast('updateDynamicHtml');</a>
        </div>
      </div>

    </div>

    <script src="../demo.min.js"></script>
  </body>
</html>
