* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-weight: 300;
    margin: 1rem;
}

h1, h2, h3, h4 {
    margin: 0 0 1rem 0;
}

p {
    margin: 0 0 0.5rem 0;
}

pre, code, .code-button {
    font-family: "Source Code Pro";
    font-weight: 400;
}

hr {
    height: 0;
    margin: 0 0 1rem 0;
    border-top: 1px solid #282b2e;
    opacity: 0.5;

    &.separator {
        margin: 2rem 0 1.5rem 0;
    }
}

.hljs {
    padding: 1rem;
}

.code-demo {
    border: 1px solid #282b2e;
    padding: 1rem;
    margin-bottom: 1rem;

    :last-child {
        margin-bottom: 0;
    }
}

.note {
    margin-bottom: 1rem;
    font-size: 90%;
    opacity: 0.7;
    font-style: italic;
}

.button-row {
    margin-bottom: 1rem;
}

.button {
    display: inline-block;
    max-width: 100%;
    margin: 0 0.5rem 0.5rem 0;
    padding: 1rem;
    background: #282b2e;
    color: #e0e2e4;
    cursor: pointer;
    transition: opacity 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    user-select: none;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.7;
    }
}

.code-button {
    pre {
        margin: 0;
        white-space: pre-wrap;
    }
    code {
        padding: 0;
    }
}

@media(min-width: 90rem) {
    .container {
        width: 60vw;
    }
}
